{% load staticfiles %}
<!Doctype html>
<html>
    <head>
       <title>Trip</title>
    </head>
    <body>
      <div id="wrapper">
       <h2>Welcome, {{ loggedInUser.first_name.title }}!</h2><h3><a href="/success">Dashboard<a/> | <a href="/new_trip">Add Trip<a/> | <a href= "/logout">Logout</a></h3>
      <div class="register">
        {% for schedule in schedule %}
        <div class="quotes">
          <p>{{ schedule.user.first_name }} {{ schedule.user.last_name }} <a href="/destination/{{schedule.id}}"> {{ schedule.destination }}</a> {{ schedule.start_date }} {{ schedule.end_date }} {{ schedule.description}}</p>

       
          <hr>
         
        </div>
        {%  endfor %}

        <h1> Other User's Travel Plans </h1>
        {% for trip in all_trips %}.
        <p>{{ trip.user.first_name }} {{ trip.user.last_name }} <a href="/destination/{{trip.id}}">{{ trip.destination }}</a> {{ trip.start_date }} {{ trip.end_date }} {{ trip.description}} <a href="/join_trip/{{trip.id}}"> Join Trip</a></p>
         {%  endfor %}
      </div>

      <div class="login">
       


      </div>
      </div>
    </body>
</html>